/* reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* color */
:root {
  --green: #046402;
  --light-green: #4caf50;
  --dark_green: #074306;
  --white: #fff;
  --black: #000;
}

/* background image  */
body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15)
    ),
    url("./img/Forest_Sunlight_Background-954.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* title */
h1 {
  font-size: 5rem;
  font-style: normal;
  font-weight: 800;
  color: var(--green);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
h1,
h2 {
  text-transform: uppercase;
}
h2 {
  font-size: 2rem;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1rem;
  color: var(--dark_green);
}

/*  buttons */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.btn-login,
.btn-register {
  text-align: center;
  width: 5rem;
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin: 1rem;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}

.btn-login {
  background-color: var(--white);
  color: var(--light-green);
}

.btn-register {
  background-color: var(--light-green);
}

.btn-login:hover,
.btn-register:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn-login:active {
  transition: 0.3s;
  transform: scale(0.93);
}
.btn-register:active {
  transition: 0.3s;
  transform: scale(0.93);
}

/* media query */
@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .btn-login,
  .btn-register {
    padding: 0.8rem 1.6rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 1.5rem;
  }

  .btn-login,
  .btn-register {
    padding: 0.6rem 1.2rem;
    font-size: 0.7rem;
  }
}
